[package]
name = "chia-protocol"
version = "0.2.3"
edition = "2021"
license = "Apache-2.0"
description = "Chia network protocol message types"
authors = ["Arvid Norberg <arvid@chia.net>"]
homepage = "https://github.com/Chia-Network/chia_rs/chia-protocol/"
repository = "https://github.com/Chia-Network/chia_rs/chia-protocol/"

[features]
py-bindings = ["dep:pyo3", "dep:chia_py_streamable_macro"]

[dependencies]
pyo3 = { version = "=0.15.1", features = ["extension-module", "multiple-pymethods"], optional = true }
sha2 = "=0.10.2"
hex = "=0.4.3"
chia_streamable_macro = { version = "=0.2.4", path = "../chia_streamable_macro" }
chia_py_streamable_macro = { path = "../chia_py_streamable_macro", version = "=0.1.3", optional = true }
clvmr = "=0.2.3"

[lib]
crate-type = ["rlib"]
