# the "wheel" crate is excluded from the workspace because pyo3 has problems with
# "cargo test" and "cargo bench"
[workspace]
members = [
    "chia-bls",
    "chia-bls/fuzz",
    "chia-client",
    "chia-protocol",
    "chia-protocol/fuzz",
    "chia_py_streamable_macro",
    "chia_streamable_macro",
    "chia-ssl",
    "chia-tools",
    "chia-traits",
    "chia-wallet",
    "chia-wallet/fuzz",
    "clvm-derive",
    "clvm-traits",
    "clvm-utils",
    "clvm-utils/fuzz",
    "fuzz",
    "wasm",
]
exclude = ["wheel"]

[package]
name = "chia"
version = "0.4.1"
edition = "2021"
license = "Apache-2.0"
description = "Utility functions and types used by the Chia blockchain full node"
authors = ["Richard Kiss <him@richardkiss.com>", "Arvid Norberg <arvid@chia.net>"]
homepage = "https://github.com/Chia-Network/chia_rs/"
repository = "https://github.com/Chia-Network/chia_rs/"

[features]
py-bindings = ["dep:pyo3"]

[dependencies]
clvmr = "0.4.0"
hex = "0.4.3"
pyo3 = { version = ">=0.19.0", optional = true }
clvm-utils = { version = "0.4.0", path = "clvm-utils" }
chia-traits = { version = "0.3.3", path = "chia-traits" }
clvm-traits = { version = "0.3.3", path = "clvm-traits" }
clvm-derive = { version = "0.2.14", path = "clvm-derive" }
chia-protocol = { version = "0.4.1", path = "chia-protocol" }
chia-wallet = { version = "0.4.1", path = "chia-wallet" }
hex-literal = "0.4.1"
thiserror = "1.0.44"

[dev-dependencies]
num-traits = "0.2.15"
rstest = "0.16.0"
text-diff = "0.4.0"
criterion = "0.5.1"

[lib]
name = "chia"
crate-type = ["rlib"]

[profile.release]
lto = "thin"

[[bench]]
name = "run-generator"
harness = false

# This is also necessary in `wheel/Cargo.toml` to make sure the `wheel` crate builds as well.
# This overrides the crates.io version of `clvm-traits` with the local version.
# This is because `clvmr` currently uses the latest published version of `clvm-traits`.
# Because path dependencies are considered different from crates.io dependencies, they conflict.
# All of the types are considered different by Cargo, and the below snippet is necessary to fix this.
# When making breaking changes, this may be a complication.
# Ideally this should be removed once a long term fix is found.
[patch.crates-io]
clvm-traits = { path = "clvm-traits" }
blst = { git = "https://github.com/supranational/blst.git", rev = "0d46eefa45fc1e57aceb42bba0e84eab3a7a9725" }
