[workspace]
members = ["wheel"]

[package]
name = "chia"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"
description = "Implementation of `clvm` for Chia Network's cryptocurrency"
authors = ["Richard Kiss <him@richardkiss.com>"]
homepage = "https://github.com/Chia-Network/chia_rs/"
repository = "https://github.com/Chia-Network/chia_rs/"

[dependencies]
serde = "1.0.129"
clvmr = "=0.1.20"
hex = "=0.4.3"
num-traits = "=0.2.14"
pyo3 = "=0.15.1"

[lib]
name = "chia"
crate-type = ["rlib"]

[profile.release]
lto = true
