[workspace]
members = ["wasm", "wheel"]

[package]
name = "chia"
version = "0.1.2"
edition = "2018"
license = "Apache-2.0"
description = "Implementation of `clvm` for Chia Network's cryptocurrency"
authors = ["Richard Kiss <him@richardkiss.com>"]
homepage = "https://github.com/Chia-Network/chia_rs/"
repository = "https://github.com/Chia-Network/chia_rs/"

[dependencies]
serde = { version = "1.0.130", features = ["derive"] }
clvmr = "=0.1.20"
# bincode = { git = "https://github.com/richardkiss/bincode", branch = "chia" }
# the patched bincode is needed to enable serialization. However, a github dependency disqualifies
# any build crates from being uploaded to crates.io, so this is temporarily disabled.
hex = "=0.4.3"

[dev-dependencies]
num-traits = "=0.2.14"

[lib]
name = "chia"
crate-type = ["rlib"]

[profile.release]
lto = true
