[package]
name = "chia-tools"
version = "0.36.0"
edition = "2024"
license = "Apache-2.0"
description = "Utility functions and types used by the Chia blockchain full node"
authors = ["Arvid Norberg <arvid@chia.net>"]
homepage = "https://github.com/Chia-Network/chia_rs"
repository = "https://github.com/Chia-Network/chia_rs"

[lints]
workspace = true

[dependencies]
chia-protocol = { workspace = true }
chia-traits = { workspace = true }
chia-puzzles = { workspace = true }
clvm-utils = { workspace = true }
clvm-traits = { workspace = true }
chia-puzzle-types = { workspace = true }
chia-bls = { workspace = true }
chia-consensus = { workspace = true }
clvmr = { workspace = true, features = ["counters"] }
rusqlite = { workspace = true, features = ["bundled"] }
clap = { workspace = true, features = ["derive"] }
zstd = { workspace = true }
blocking-threadpool = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
linreg = { workspace = true }
chia-sha2 = { workspace = true }
gnuplot = { workspace = true }

[lib]
name = "chia_tools"
crate-type = ["rlib"]

[[bin]]
name = "analyze-chain"
test = false
bench = false

[[bin]]
name = "test-block-generators"
test = false
bench = false

[[bin]]
name = "compress-clvm"
test = false
bench = false

[[bin]]
name = "gen-corpus"
test = false
bench = false

[[bin]]
name = "run-spend"
test = false
bench = false

[[bin]]
name = "fast-forward-spend"
test = false
bench = false

[[bin]]
name = "optimize-db"
test = false
bench = false

[[bin]]
name = "get-generator"
test = false
bench = false

[[bin]]
name = "validate-blockchain-db"
test = false
bench = false

[[bin]]
name = "rollback-blockchain-db"
test = false
bench = false

[[bin]]
name = "puzzle-hash"
test = false
bench = false
