[package]
name = "chia_rs"
version = "0.5.2"
authors = ["Richard Kiss <him@richardkiss.com>"]
edition = "2021"
license = "Apache-2.0"
description = "Code useful for implementing chia consensus."
homepage = "https://github.com/Chia-Network/chia_rs/"
repository = "https://github.com/Chia-Network/chia_rs/"
readme = "README.md"

[lib]
name = "chia_rs"
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
clvmr = "0.5.0"
hex = "0.4.3"
sha2 = "0.10.8"
pyo3 = { version = "=0.19.0", features = ["extension-module", "multiple-pymethods"] }
chia = { version = "=0.5.2", path = "..", features = ["py-bindings"] }
chia-bls = { version = "=0.5.1", path = "../chia-bls", features = ["py-bindings"]  }
chia-protocol = { version = "=0.5.1", path = "../chia-protocol", features = ["py-bindings"]  }
chia-traits = { version = "=0.5.2", path = "../chia-traits", features = ["py-bindings"]  }
clvm-traits = { version = "=0.5.2", path = "../clvm-traits", features = ["derive", "py-bindings"] }
chia_py_streamable_macro = { version = "=0.5.1", path = "../chia_py_streamable_macro" }
chia_streamable_macro = { version = "=0.3.0", path = "../chia_streamable_macro" }

# See `../Cargo.toml` for more information on why this is necessary.
[patch.crates-io]
blst = { git = "https://github.com/supranational/blst.git", rev = "0d46eefa45fc1e57aceb42bba0e84eab3a7a9725" }
