[package]
name = "chia-datalayer-macro"
version = "0.35.0"
edition = "2024"
license = "Apache-2.0"
description = "Macros for DataLayer modules"
authors = ["Chia Network, Inc. <hello@chia.net>"]
homepage = "https://github.com/Chia-Network/chia_rs"
repository = "https://github.com/Chia-Network/chia_rs"

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
syn = { workspace = true }
quote = { workspace = true }
proc-macro2 = { workspace = true }
