name: Security audit
on:
  pull_request:
    branches:
      - '**'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cargo audit
        run: cargo audit --ignore RUSTSEC-2023-0071
